<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.base.pj.dao.PJ0510PDAO">

	<select id="select01" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			  '0'	AS CHK
			, ''	AS ROWFLAG
			, A.ACT_ITEM_ID 
			, A.ACT_ITEM_NO
			, A.TITLE 
			, A.PJT_ID 
			, B.PJT_NAME 
			, A.MEET_ID 
			, A.DUE_DATE 
			, A.CONTENTS 
			, A.ACTION_CD 
			, A.CLOSE_DATE 
			, A.ACT_USER_ID 
			, A.ACT_USER_NM 
			, A.ACT_USER_DEPT 
			, A.REQ_USER_ID 
			, A.REQ_USER_NM 
			, A.REQ_USER_DEPT 
			, A.REQ_DATE 
			, A.REG_STIME 
			, A.REG_USER_ID 
			, A.REG_USER_NM 
			, A.REG_USER_DEPT 
			, A.LMOD_SDATE 
			, A.LMOD_USER_ID 
			, A.LMOD_USER_NM 
			, A.LMOD_USER_DEPT
			, CASE
				WHEN NVL(A.ACTION_CD, '10') = '10' 
                THEN DECODE(GREATEST(TO_CHAR(SYSDATE, 'YYYYMMDD'), SUBSTR(A.DUE_DATE, 1, 8)), TO_CHAR(SYSDATE, 'YYYYMMDD'), '지연', '등록') 
                WHEN NVL(A.ACTION_CD, '10') = '20'  
                THEN DECODE(GREATEST(TO_CHAR(SYSDATE, 'YYYYMMDD'), SUBSTR(A.DUE_DATE, 1, 8)), TO_CHAR(SYSDATE, 'YYYYMMDD'), '지연', '진행중')  
                ELSE '완료' 
			  END AS STATUS
			, C.MEET_NO 
		FROM
			PJ_ACTION_ITEM A, 
            PJ_PROJECT B,
            PJ_MEETING C 

		WHERE 1 = 1
		AND A.PJT_ID		= B.PJT_ID
		AND A.MEET_ID		= C.MEET_ID(+)
		AND C.PJT_ID(+)		= #{PJT_ID}
		AND A.PJT_ID		= #{PJT_ID}
		AND A.ACT_ITEM_ID	= #{ACT_ITEM_ID}

		ORDER BY
			A.ACT_ITEM_ID		
	</select>

	<select id="select02" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			  '0'	AS CHK
			, ''	AS ROWFLAG
			, A.ACT_ID
			, A.ACT_ITEM_ID
			, A.ACT_DESC
			, A.ACT_STATUS_CD
			, A.ACT_TIME
			, A.ACT_USER_ID
			, A.ACT_USER_NM
			, A.ACT_USER_DEPT
			, A.REG_STIME
			, A.REG_USER_ID
			, A.REG_USER_NM
			, A.REG_USER_DEPT
			, A.SYSMODTIME
			, A.LMOD_USER_ID
			, A.LMOD_USER_NM
			, A.LMOD_USER_DEPT
			, MAX(B.FILE_SAVE_NM)   AS ORG_FILE_NM 
			, COUNT(B.FILE_SAVE_NM)	AS FILE_CNT
			<!-- , MAX(B.ORG_FILE_NM)   AS ORG_FILE_NM  -->
			<!-- , COUNT(B.ORG_FILE_NM) AS FILE_CNT  -->

		FROM
			PJ_ACT_ACTION A,
			FOMM_ATCHFILE_MT B	<!-- PJ_FILE_ATTACH B -->

		WHERE 1 = 1
		<!-- AND A.ACT_ID = B.REF_ID(+)  -->
		AND A.ACT_ITEM_ID	= B.PK1(+)
		AND A.ACT_ID		= B.PK2(+)
		AND B.DEL_YN(+)		= 'N'
		AND B.TEMP_YN(+)	= 'N'
		<!-- AND B.REF_TYPE(+)	= 'PJAA' -->
		AND B.KEY_TBL(+)	= 'PJ_ACT_ACTION'
		AND A.ACT_ITEM_ID	= #{ACT_ITEM_ID}		

		GROUP BY
			  A.ACT_ID
			, A.ACT_ITEM_ID
			, A.ACT_DESC
			, A.ACT_STATUS_CD
			, A.ACT_TIME
			, A.ACT_USER_ID
			, A.ACT_USER_NM
			, A.ACT_USER_DEPT
			, A.REG_STIME
			, A.REG_USER_ID
			, A.REG_USER_NM
			, A.REG_USER_DEPT
			, A.SYSMODTIME
			, A.LMOD_USER_ID
			, A.LMOD_USER_NM
			, A.LMOD_USER_DEPT
	</select>

	<insert id="insert01" parameterType="java.util.Map">
		<selectKey resultType="string" keyProperty="ACT_ITEM_ID" order="BEFORE">
			SELECT
				'PJAC' || TO_CHAR(SYSDATE, 'YYMMDD') ||
				LPAD( NVL(MAX(TO_NUMBER(NVL(SUBSTR(ACT_ITEM_ID, -6), 0) )), 0) + 1, 6, 0)
   			FROM PJ_ACTION_ITEM
   			WHERE 1 = 1
   			AND ACT_ITEM_ID LIKE 'PJAC%'
			AND LENGTH(ACT_ITEM_ID) = 16
		</selectKey>

		INSERT INTO PJ_ACTION_ITEM 
		(
			  ACT_ITEM_ID
			, ACT_ITEM_NO
			, TITLE
			, PJT_ID
			, MEET_ID
			, DUE_DATE
			, CONTENTS
			, ACTION_CD
			, CLOSE_DATE
			, ACT_USER_ID
			, ACT_USER_NM
			, ACT_USER_DEPT
			, REQ_USER_ID
			, REQ_USER_NM
			, REQ_USER_DEPT
			, REQ_DATE

			, REG_STIME
			, REG_USER_ID
			, REG_USER_NM
			, REG_USER_DEPT

			, LMOD_SDATE
			, LMOD_USER_ID
			, LMOD_USER_NM
			, LMOD_USER_DEPT
		) 
		VALUES 
		(
			  #{ACT_ITEM_ID} 
			, #{ACT_ITEM_NO}
			, #{TITLE}
			, #{PJT_ID}
			, #{MEET_ID}
			, #{DUE_DATE}
			, #{CONTENTS}
			, #{ACTION_CD}
			, #{CLOSE_DATE}
			, #{ACT_USER_ID}
			, (SELECT USER_NM FROM FOMM_USER_MT WHERE USER_ID = #{ACT_USER_ID})
			, (SELECT DEPT_NM FROM FOMM_USER_MT WHERE USER_ID = #{ACT_USER_ID})
			, #{REQ_USER_ID}
			, (SELECT USER_NM FROM FOMM_USER_MT WHERE USER_ID = #{REQ_USER_ID})
			, (SELECT DEPT_NM FROM FOMM_USER_MT WHERE USER_ID = #{REQ_USER_ID})
			, #{REQ_DATE}

			, TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
			, #{LMID}
			, (SELECT USER_NM FROM FOMM_USER_MT WHERE USER_ID = #{LMID})
			, (SELECT DEPT_NM FROM FOMM_USER_MT WHERE USER_ID = #{LMID})

			, TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
			, #{LMID}
			, (SELECT USER_NM FROM FOMM_USER_MT WHERE USER_ID = #{LMID})
			, (SELECT DEPT_NM FROM FOMM_USER_MT WHERE USER_ID = #{LMID}) 
		)		
	</insert>

	<update id="modify01" parameterType="java.util.Map">
		UPDATE PJ_ACTION_ITEM SET
			  ACT_ITEM_NO		= #{ACT_ITEM_NO}
			, TITLE				= #{TITLE}
			, PJT_ID			= #{PJT_ID}
			, MEET_ID			= #{MEET_ID}
			, DUE_DATE			= #{DUE_DATE}
			, CONTENTS			= #{CONTENTS}
			, ACTION_CD			= #{ACTION_CD}
			, CLOSE_DATE		= #{CLOSE_DATE}
			, ACT_USER_ID		= #{ACT_USER_ID}
			, ACT_USER_NM		= (SELECT USER_NM FROM FOMM_USER_MT WHERE USER_ID = #{ACT_USER_ID})
			, ACT_USER_DEPT		= (SELECT DEPT_NM FROM FOMM_USER_MT WHERE USER_ID = #{ACT_USER_ID})
			, REQ_USER_ID		= #{REQ_USER_ID}
			, REQ_USER_NM		= (SELECT USER_NM FROM FOMM_USER_MT WHERE USER_ID = #{REQ_USER_ID})
			, REQ_USER_DEPT		= (SELECT DEPT_NM FROM FOMM_USER_MT WHERE USER_ID = #{REQ_USER_ID})
			, REQ_DATE			= #{REQ_DATE}

			, LMOD_SDATE		= TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
			, LMOD_USER_ID		= #{LMID}														--최종수정자ID
			, LMOD_USER_NM		= (SELECT USER_NM FROM FOMM_USER_MT WHERE USER_ID = #{LMID})	--최종수정자이름
			, LMOD_USER_DEPT	= (SELECT DEPT_NM FROM FOMM_USER_MT WHERE USER_ID = #{LMID})	--최종수정자부서이름
		WHERE 1 = 1
		AND ACT_ITEM_ID = #{ACT_ITEM_ID}
	</update>

	<insert id="insert02" parameterType="java.util.Map">
		<selectKey resultType="string" keyProperty="ACT_ID" order="BEFORE">
			SELECT
				'PJAA' || TO_CHAR(SYSDATE, 'YYMMDD') ||
				LPAD( NVL(MAX(TO_NUMBER(NVL(SUBSTR(ACT_ID, -6), 0) )), 0) + 1, 6, 0)
   			FROM PJ_ACT_ACTION
   			WHERE 1 = 1
   			AND ACT_ID LIKE 'PJAA%'
			AND LENGTH(ACT_ID) = 16
		</selectKey>

		INSERT INTO PJ_ACT_ACTION 
		(
			  ACT_ID 
			, ACT_ITEM_ID 
			, ACT_DESC 
			, ACT_STATUS_CD 
			, ACT_TIME 
			, ACT_USER_ID 
			, ACT_USER_NM 
			, ACT_USER_DEPT

			, REG_STIME
			, REG_USER_ID 
			, REG_USER_NM 
			, REG_USER_DEPT
 
			, SYSMODTIME 
			, LMOD_USER_ID 
			, LMOD_USER_NM 
			, LMOD_USER_DEPT
		) 
 		VALUES
		(
			  #{ACT_ID}
			, #{ACT_ITEM_ID}
			, #{ACT_DESC}
			, #{ACT_STATUS_CD}
			, #{ACT_TIME}
			, #{ACT_USER_ID}
			, (SELECT USER_NM FROM FOMM_USER_MT WHERE USER_ID = #{ACT_USER_ID})
			, (SELECT DEPT_NM FROM FOMM_USER_MT WHERE USER_ID = #{ACT_USER_ID})

			, TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
			, #{LMID}
			, (SELECT USER_NM FROM FOMM_USER_MT WHERE USER_ID = #{LMID})
			, (SELECT DEPT_NM FROM FOMM_USER_MT WHERE USER_ID = #{LMID})

			, TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
			, #{LMID}
			, (SELECT USER_NM FROM FOMM_USER_MT WHERE USER_ID = #{LMID})
			, (SELECT DEPT_NM FROM FOMM_USER_MT WHERE USER_ID = #{LMID}) 
		)
	</insert>

	<update id="modify02" parameterType="java.util.Map">
		UPDATE PJ_ACT_ACTION SET
			  ACT_DESC			= #{ACT_DESC}
			, ACT_STATUS_CD		= #{ACT_STATUS_CD}
			, ACT_TIME			= #{ACT_TIME}

			, ACT_USER_ID		= #{ACT_USER_ID}
			, ACT_USER_NM		= (SELECT USER_NM FROM FOMM_USER_MT WHERE USER_ID = #{ACT_USER_ID}) 
			, ACT_USER_DEPT 	= (SELECT DEPT_NM FROM FOMM_USER_MT WHERE USER_ID = #{ACT_USER_ID})

			, SYSMODTIME		= TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
			, LMOD_USER_ID		= #{LMID}														--최종수정자ID
			, LMOD_USER_NM		= (SELECT USER_NM FROM FOMM_USER_MT WHERE USER_ID = #{LMID})	--최종수정자이름
			, LMOD_USER_DEPT	= (SELECT DEPT_NM FROM FOMM_USER_MT WHERE USER_ID = #{LMID})	--최종수정자부서이름

		WHERE 1 = 1
		AND ACT_ITEM_ID	= #{ACT_ITEM_ID}
		AND ACT_ID		= #{ACT_ID}
	</update>

	<delete id="remove01" parameterType="java.util.Map">
		DELETE FROM PJ_ACT_ACTION
		WHERE 1 = 1
		AND ACT_ITEM_ID = #{ACT_ITEM_ID}
		AND ACT_ID		= #{ACT_ID}
	</delete>

</mapper>