<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.base.pj.dao.PJ1100WDAO">

	<select id="select01" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			  '0'	AS CHK
			, ''	AS ROWFLAG
			, A.EDU_ID 
			, A.TITLE 
			, A.PJT_ID 
			, A.EDU_STIME 
			, A.EDU_ETIME 
			, A.CONTENTS 
			, A.EDU_LOC 
			, A.LECTURE_NM 
			, A.REG_STIME 
			, A.REG_USER_ID 
			, A.REG_USER_NM 
			, A.REG_USER_DEPT 
			, A.LMOD_SDATE 
			, A.LMOD_USER_ID 
			, A.LMOD_USER_NM 
			, A.LMOD_USER_DEPT 
			, TO_CHAR(NVL(B.ATTN_CNT, 0)) || '명'	AS ATTN_CNT

		FROM
			PJ_EDUCATION A, 
			(
			SELECT
				  EDU_ID 
				, COUNT(*) AS ATTN_CNT 
			FROM PJ_EDU_ATTND 
			GROUP BY EDU_ID
			) B

		WHERE 1 = 1 
		AND A.EDU_ID = B.EDU_ID(+)
		AND A.PJT_ID = #{PJT_ID}

		ORDER BY
			A.EDU_STIME ASC		
	</select>

	<delete id="remove01" parameterType="java.util.Map">
		DELETE FROM PJ_EDUCATION 
		WHERE EDU_ID = #{EDU_ID}
	</delete>

	<delete id="remove02" parameterType="java.util.Map">
		DELETE FROM PJ_EDU_ATTND
		WHERE 1 = 1
		AND EDU_ID = #{EDU_ID}
	</delete>

</mapper>