<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.base.pj.dao.PJ1810PDAO">

	<select id="select01" parameterType="java.util.Map" resultType="java.util.Map">
		 SELECT
			  '0' AS CHK 
			, A.PJT_ID 
			, A.PJT_NAME
			, A.PJT_STATUS_CD 
			, A.PJT_DESC 
			, A.PJT_EXEC_CD 
			, A.IN_PM_USER_ID 
			, A.IN_PM_USER_NM 
			, A.IN_PM_DEPT 
			, A.OUT_PM_USER_ID 
			, A.OUT_PM_USER_NM 
			, A.OUT_CPY_ID 
			, A.OUT_CPY_NAME 
			, A.UPMU_USER_ID 
			, A.UPMU_USER_NM 
			, A.UPMU_USER_DEPT 
			, A.PJT_STIME
			, A.PJT_ETIME
			, A.PJT_TYPE_CD 
			, A.PJT_SIZE_CD 
			, A.PJT_DEV_CD 
			, A.PJT_STD_YN 
			, A.PJT_OPEN_DATE 
			, A.CONTRT_ID 
			, A.DEV_AMOUNT 
			, A.DEV_MM 
			, A.HW_AMOUNT 
			, A.SW_AMOUNT 
			, A.TOT_AMOUNT 
			, A.REG_STIME 
			, A.REG_USER_ID 
			, A.REG_USER_NM 
			, A.REG_USER_DEPT 
			, A.SYSMODTIME 
			, A.LMOD_USER_ID 
			, A.LMOD_USER_NM 
			, A.LMOD_USER_DEPT 
			, A.CONTRACT_ID 
			, A.CONTRACT_NO 
			, A.OUT_PM_DEPT 
			, A.SUB_PJT_NO 
			, A.SUB_PJT_YN 
			, A.PARENT_ID 
			, A.WEIGHT 
			, A.PJT_NAME AS ORG_PJT_NAME 
			, A.SPV_YN

		FROM
			PJ_PROJECT A

		WHERE 1 = 1
		AND A.PJT_ID = #{PJT_ID}
	</select>

	<select id="select02" parameterType="java.util.Map" resultType="java.util.Map">
		 SELECT
			  '0' AS CHK 
			, A.EVAL_RST_ID
			, A.EVAL_LIST_ID
			, A.EVAL_ITEM_ID
			, A.EVAL_ITEM_CD
			, A.EVAL_ITEM_NM
			, A.EVAL_ITEM_BASIS
			, A.EVAL_ITEM_SCORE
			, A.ORD_NO
			, A.PJT_ID
			, A.EVAL_SCORE
			, A.REMARK
			, A.REG_STIME
			, A.REG_USER_ID
			, A.REG_USER_NM
			, A.REG_USER_DEPT

		FROM
			PJ_EVAL_RST A

		WHERE 1 = 1
		AND A.PJT_ID = #{PJT_ID}    

		ORDER BY
			A.ORD_NO ASC
	</select>

</mapper>