<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.base.pj.dao.PJ4100WDAO">

	<select id="select01" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			  '0'	AS CHK
			, ''	AS ROWFLAG
			, A.FUNC_ID
			, A.FUNC_NO
			, A.FUNC_NAME
			, A.FUNC_TYPE_CD
			, A.PJT_ID
			, A.BIZ_ID
			, D.BIZ_NAME
			, A.FUNC_LV1
			, A.FUNC_LV2
			, A.REG_STIME
			, A.REG_USER_ID
			, A.REG_USER_NM
			, A.REG_USER_DEPT
			, A.LMOD_SDATE
			, A.LMOD_USER_ID
			, A.LMOD_USER_NM
			, A.LMOD_USER_DEPT
			, A.FUNC_DESC
			, A.REF_ENTITY
			, B.PJT_NAME AS PJT_NAME
			, C.PJT_ID      AS P_PJT_ID 
			, C.PJT_NAME AS P_PJT_NAME
			, E.REQ_NO_INFO
			, E.REQ_NAME_INFO

		FROM
			  PJ_FUNCTION A
			, PJ_PROJECT B
			, PJ_PROJECT C
			, PJ_BIZ D
			, (
			  SELECT
				  EE.PJT_ID
				, EE.FUNC_ID
				, SUBSTR(XMLAGG(XMLELEMENT(X, '¶', FF.REQ_NO) ORDER BY FF.REQ_NO, FF.REQ_ID).EXTRACT('//text()').GETCLOBVAL(),2) AS REQ_NO_INFO
				, SUBSTR(XMLAGG(XMLELEMENT(X, '¶', FF.REQ_NAME) ORDER BY FF.REQ_NO, FF.REQ_ID).EXTRACT('//text()').GETCLOBVAL(),2) AS REQ_NAME_INFO

			  FROM
			  	  PJ_FUNC_REQ_MAP EE
				, PJ_REQMENT FF

			  WHERE 1 = 1
			  AND EE.REQ_ID	= FF.REQ_ID
			  AND EE.PJT_ID	= FF.PJT_ID
			  AND EE.PJT_ID	= #{SUB_PJT_ID}

			  GROUP BY
				  EE.PJT_ID
				, EE.FUNC_ID
			  ) E

		WHERE 1 = 1
		AND A.PJT_ID		= B.PJT_ID
		AND B.PARENT_ID		= C.PJT_ID
		AND A.PJT_ID        = D.PJT_ID
		AND A.BIZ_ID        = D.BIZ_ID
		AND A.PJT_ID        = E.PJT_ID(+)
		AND A.FUNC_ID		= E.FUNC_ID(+)
		AND A.PJT_ID		= #{SUB_PJT_ID}

		<if test="BIZ_ID != '' and BIZ_ID != null">
		AND A.BIZ_ID	= #{BIZ_ID}
		</if>

		<if test="FUNC_NO != '' and FUNC_NO != null">
		AND UPPER(A.FUNC_NO) LIKE '%' || UPPER(#{FUNC_NO}) || '%'
		</if>

		<if test="FUNC_LV1 != '' and FUNC_LV1 != null">
		AND UPPER(A.FUNC_LV1) LIKE '%' || UPPER(#{FUNC_LV1}) || '%'
		</if>

		<if test="FUNC_LV2 != '' and FUNC_LV2 != null">
		AND UPPER(A.FUNC_LV2) LIKE '%' || UPPER(#{FUNC_LV2}) || '%'
		</if>

		<if test="FUNC_NM != '' and FUNC_NM != null">
		AND UPPER(A.FUNC_NAME) LIKE '%' || UPPER(#{FUNC_NM}) || '%'
		</if>

		<if test="FUNC_TYPE_CD != '' and FUNC_TYPE_CD != null">
		AND A.FUNC_TYPE_CD	= #{FUNC_TYPE_CD}
		</if>

		<if test="(REQ_NO != '' and REQ_NO != null) or (REQ_NM != '' and REQ_NM != null)">
		AND A.FUNC_ID IN
						(
						SELECT
							AA.FUNC_ID
						FROM
							  PJ_FUNC_REQ_MAP AA
							, PJ_REQMENT BB
						WHERE 1 = 1
						AND AA.PJT_ID	= BB.PJT_ID
						AND AA.REQ_ID	= BB.REQ_ID
						AND AA.PJT_ID	= #{SUB_PJT_ID}

						<if test="(REQ_NO != '' and (REQ_NO != null">
						AND UPPER(BB.REQ_NO) LIKE UPPER('%' || #{REQ_NO} || '%')
						</if>

						<if test="(REQ_NM != '' and (REQ_NM != null">
						AND UPPER(BB.REQ_NAME) LIKE UPPER('%' || #{REQ_NM} || '%')
						</if>
						)
		</if>

		ORDER BY
			A.FUNC_NO, A.FUNC_ID
	</select>

	<delete id="remove01" parameterType="java.util.Map">
		DELETE
		FROM PJ_SCR_FUNC_MAP
  		WHERE 1 = 1
  		AND FUNC_ID = #{FUNC_ID}
	</delete>

	<delete id="remove02" parameterType="java.util.Map">
		DELETE
		FROM PJ_PRG_FUNC_MAP
  		WHERE 1 = 1
  		AND FUNC_ID = #{FUNC_ID}
	</delete>

	<delete id="remove03" parameterType="java.util.Map">
		DELETE
		FROM PJ_BTPR_FUNC_MAP
  		WHERE 1 = 1
  		AND FUNC_ID = #{FUNC_ID}
	</delete>

	<delete id="remove04" parameterType="java.util.Map">
		DELETE
		FROM PJ_RPPR_FUNC_MAP
		WHERE 1 = 1
		AND FUNC_ID = #{FUNC_ID}
	</delete>

	<delete id="remove05" parameterType="java.util.Map">
		DELETE
		FROM PJ_FUNC_REQ_MAP
		WHERE 1 = 1
		AND FUNC_ID = #{FUNC_ID}
	</delete>

	<delete id="remove06" parameterType="java.util.Map">
		DELETE
		FROM PJ_FUNCTION
		WHERE 1 = 1
		AND FUNC_ID = #{FUNC_ID}
	</delete>

</mapper>