<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.base.pj.dao.PJ4200PDAO">

	<select id="select01" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			  '0'	AS CHK
			, ''	AS ROWFLAG
			, A.SCR_ID
			, A.SCR_NO
			, A.SCR_NAME
			, A.SCR_TYPE_CD
			, A.PJT_ID
			, A.BIZ_ID
			, A.IMPORTANT_CD
			, A.DIFFICULT_CD
			, A.PLAN_SDATE
			, A.PLAN_EDATE
			, A.ACTL_SDATE
			, A.ACTL_EDATE
			, A.CHG_USER_NM
			, A.DEV_USER_ID
			, A.DEV_USER_NM
			, A.DEV_USER_DEPT
			, A.PL_USER_ID
			, A.PL_USER_NM
			, A.PL_USER_DEPT
			, A.REG_STIME
			, A.REG_USER_ID
			, A.REG_USER_NM
			, A.REG_USER_DEPT
			, A.LMOD_SDATE
			, A.LMOD_USER_ID
			, A.LMOD_USER_NM
			, A.LMOD_USER_DEPT
			, A.SCR_DESC
			, A.REMARK
			, B.PJT_NAME AS PJT_NAME
			, C.PJT_ID   AS P_PJT_ID 
			, C.PJT_NAME AS P_PJT_NAME

		FROM
			  PJ_SCREEN A   
			, PJ_PROJECT B   
			, PJ_PROJECT C   

		WHERE 1 = 1
		AND A.PJT_ID	= B.PJT_ID
		AND B.PARENT_ID	= C.PJT_ID
		AND A.SCR_ID	= #{SCR_ID}
	</select>

	<select id="select02" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			  '0'		AS CHK
			, ''		AS ROWFLAG
			, A.SCR_ID AS REF_ID
			, A.FUNC_ID
			, B.FUNC_NO
			, B.FUNC_NAME
			, A.PJT_ID
			, A.REG_STIME
			, A.REG_USER_ID
			, A.REG_USER_NM
			, A.REG_USER_DEPT

		FROM
			  PJ_SCR_FUNC_MAP A
			, PJ_FUNCTION B

		WHERE 1 = 1
		AND A.PJT_ID	= B.PJT_ID
		AND A.FUNC_ID	= B.FUNC_ID
		AND A.SCR_ID	= #{SCR_ID}
		<!-- AND A.PJT_ID	= #{SUB_PJT_ID} -->

		ORDER BY
			B.FUNC_NO, B.FUNC_ID
	</select>

	<insert id="insert01" parameterType="java.util.Map">
		<selectKey resultType="string" keyProperty="SCR_ID" order="BEFORE">
			SELECT
				'PJSC' || TO_CHAR(SYSDATE, 'YYMMDD') ||
				LPAD( NVL(MAX(TO_NUMBER(NVL(SUBSTR(SCR_ID, -6), 0) )), 0) + 1, 6, 0)
   			FROM PJ_SCREEN
   			WHERE 1 = 1
   			AND SCR_ID LIKE 'PJSC%'
			AND LENGTH(SCR_ID) = 16
		</selectKey>

		INSERT INTO PJ_SCREEN
		(  
			  SCR_ID
			, SCR_NO
			, SCR_NAME
			, SCR_TYPE_CD
			, PJT_ID
			, BIZ_ID
			, IMPORTANT_CD
			, DIFFICULT_CD
			, PLAN_SDATE
			, PLAN_EDATE
			, ACTL_SDATE
			, ACTL_EDATE
			, CHG_USER_NM
			, DEV_USER_ID
			, DEV_USER_NM
			, DEV_USER_DEPT
			, PL_USER_ID
			, PL_USER_NM
			, PL_USER_DEPT
			, SCR_DESC
			, REMARK

			, REG_STIME
			, REG_USER_ID
			, REG_USER_NM
			, REG_USER_DEPT
			, LMOD_SDATE
			, LMOD_USER_ID
			, LMOD_USER_NM
			, LMOD_USER_DEPT
		)
		VALUES
		(
			  #{SCR_ID}
			, #{SCR_NO}
			, #{SCR_NAME}
			, #{SCR_TYPE_CD}
			, #{PJT_ID}
			, #{BIZ_ID}
			, #{IMPORTANT_CD}
			, #{DIFFICULT_CD}
			, #{PLAN_SDATE}
			, #{PLAN_EDATE}
			, #{ACTL_SDATE}
			, #{ACTL_EDATE}			
			, #{CHG_USER_NM}
			, #{DEV_USER_ID}
			, (SELECT USER_NM FROM FOMM_USER_MT WHERE USER_ID = #{DEV_USER_ID})
			, (SELECT DEPT_NM FROM FOMM_USER_MT WHERE USER_ID = #{DEV_USER_ID})
			, #{PL_USER_ID}
			, (SELECT USER_NM FROM FOMM_USER_MT WHERE USER_ID = #{PL_USER_ID})
			, (SELECT DEPT_NM FROM FOMM_USER_MT WHERE USER_ID = #{PL_USER_ID})

			, #{SCR_DESC}
			, #{REMARK}

			, TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
			, #{LMID}
			, (SELECT USER_NM FROM FOMM_USER_MT WHERE USER_ID = #{LMID})
			, (SELECT DEPT_NM FROM FOMM_USER_MT WHERE USER_ID = #{LMID})

			, TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
			, #{LMID}
			, (SELECT USER_NM FROM FOMM_USER_MT WHERE USER_ID = #{LMID})
			, (SELECT DEPT_NM FROM FOMM_USER_MT WHERE USER_ID = #{LMID})
		)
	</insert>

	<update id="modify01" parameterType="java.util.Map">
		UPDATE PJ_SCREEN SET
			  SCR_NO			= #{SCR_NO}
			, SCR_NAME			= #{SCR_NAME}
			, SCR_TYPE_CD		= #{SCR_TYPE_CD}
			, PJT_ID			= #{PJT_ID}
			, BIZ_ID			= #{BIZ_ID}
			, IMPORTANT_CD		= #{IMPORTANT_CD}
			, DIFFICULT_CD		= #{DIFFICULT_CD}
			, PLAN_SDATE		= #{PLAN_SDATE}
			, PLAN_EDATE		= #{PLAN_EDATE}
			, ACTL_SDATE		= #{ACTL_SDATE}
			, ACTL_EDATE		= #{ACTL_EDATE}
			, CHG_USER_NM		= #{CHG_USER_NM}
			, DEV_USER_ID		= #{DEV_USER_ID}
			, DEV_USER_NM		= (SELECT USER_NM FROM FOMM_USER_MT WHERE USER_ID = #{DEV_USER_ID})
			, DEV_USER_DEPT		= (SELECT DEPT_NM FROM FOMM_USER_MT WHERE USER_ID = #{DEV_USER_ID})
			, PL_USER_ID		= #{PL_USER_ID}
			, PL_USER_NM		= (SELECT USER_NM FROM FOMM_USER_MT WHERE USER_ID = #{PL_USER_ID})
			, PL_USER_DEPT		= (SELECT DEPT_NM FROM FOMM_USER_MT WHERE USER_ID = #{PL_USER_ID})
			, SCR_DESC			= #{SCR_DESC}
			, REMARK			= #{REMARK}

            , LMOD_SDATE		= TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
			, LMOD_USER_ID		= #{LMID}														--최종수정자ID
			, LMOD_USER_NM		= (SELECT USER_NM FROM FOMM_USER_MT WHERE USER_ID = #{LMID})	--최종수정자이름
			, LMOD_USER_DEPT	= (SELECT DEPT_NM FROM FOMM_USER_MT WHERE USER_ID = #{LMID})	--최종수정자부서이름

		WHERE 1 = 1
		AND SCR_ID	= #{SCR_ID}			
	</update>

	<insert id="insert02" parameterType="java.util.Map">
		INSERT INTO PJ_SCR_FUNC_MAP
		(  
			  SCR_ID
			, FUNC_ID
			, PJT_ID
			, REG_STIME
			, REG_USER_ID
			, REG_USER_NM
			, REG_USER_DEPT
		)
		VALUES
		(
			  #{REF_ID}
			, #{FUNC_ID}
			, #{PJT_ID}

			, TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
			, #{LMID}
			, (SELECT USER_NM FROM FOMM_USER_MT WHERE USER_ID = #{LMID})
			, (SELECT DEPT_NM FROM FOMM_USER_MT WHERE USER_ID = #{LMID})
		)
	</insert>

	<delete id="remove01" parameterType="java.util.Map">
		DELETE
		FROM PJ_SCR_FUNC_MAP
		WHERE 1 = 1
		AND SCR_ID	= #{REF_ID}
		AND FUNC_ID	= #{FUNC_ID}
	</delete>

</mapper>