<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.base.pj.dao.PJ4800WDAO">

	<select id="select01" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			  A.PJT_ID
			, A.BIZ_ID
			, A.BIZ_NAME
			, B.PJT_NAME AS PJT_NAME
			, C.PJT_ID      AS P_PJT_ID 
			, C.PJT_NAME AS P_PJT_NAME
			, NVL(D.TOT_ALL_PLAN_CNT, 0) AS TOT_ALL_PLAN_CNT
			, NVL(D.TOT_ALL_ACTL_CNT, 0) AS TOT_ALL_ACTL_CNT
			, ROUND( DECODE(NVL(D.TOT_ALL_PLAN_CNT, 0), 0, 0, NVL(D.TOT_ALL_ACTL_CNT, 0) / NVL(D.TOT_ALL_PLAN_CNT, 0) ) * 100, 1)  AS TOT_RATE
			, NVL(D.SUM_ALL_PLAN_CNT, 0) AS SUM_ALL_PLAN_CNT
			, NVL(D.SUM_ALL_ACTL_CNT, 0) AS SUM_ALL_ACTL_CNT
			, ROUND( DECODE(NVL(D.SUM_ALL_PLAN_CNT, 0), 0, 0, NVL(D.SUM_ALL_ACTL_CNT, 0) / NVL(D.SUM_ALL_PLAN_CNT, 0) ) * 100, 1)  AS SUM_RATE
			, NVL(D.WEEK_ALL_PLAN_CNT, 0) AS WEEK_ALL_PLAN_CNT
			, NVL(D.WEEK_ALL_ACTL_CNT, 0) AS WEEK_ALL_ACTL_CNT
			, ROUND( DECODE(NVL(D.WEEK_ALL_PLAN_CNT, 0), 0, 0, NVL(D.WEEK_ALL_ACTL_CNT, 0) / NVL(D.WEEK_ALL_PLAN_CNT, 0) ) * 100, 1)  AS WEEK_RATE
			, NVL(D.TOT_SC_PLAN_CNT, 0) AS TOT_SC_PLAN_CNT
			, NVL(D.TOT_SC_ACTL_CNT, 0) AS TOT_SC_ACTL_CNT
			, NVL(D.SUM_SC_PLAN_CNT, 0) AS SUM_SC_PLAN_CNT
			, NVL(D.SUM_SC_ACTL_CNT, 0) AS SUM_SC_ACTL_CNT
			, NVL(D.WEEK_SC_PLAN_CNT, 0) AS WEEK_SC_PLAN_CNT
			, NVL(D.WEEK_SC_ACTL_CNT, 0) AS WEEK_SC_ACTL_CNT
			, NVL(D.TOT_IF_PLAN_CNT, 0) AS TOT_IF_PLAN_CNT
			, NVL(D.TOT_IF_ACTL_CNT, 0) AS TOT_IF_ACTL_CNT
			, NVL(D.SUM_IF_PLAN_CNT, 0) AS SUM_IF_PLAN_CNT
			, NVL(D.SUM_IF_ACTL_CNT, 0) AS SUM_IF_ACTL_CNT
			, NVL(D.WEEK_IF_PLAN_CNT, 0) AS WEEK_IF_PLAN_CNT
			, NVL(D.WEEK_IF_ACTL_CNT, 0) AS WEEK_IF_ACTL_CNT
			, NVL(D.TOT_BP_PLAN_CNT, 0) AS TOT_BP_PLAN_CNT
			, NVL(D.TOT_BP_ACTL_CNT, 0) AS TOT_BP_ACTL_CNT
			, NVL(D.SUM_BP_PLAN_CNT, 0) AS SUM_BP_PLAN_CNT
			, NVL(D.SUM_BP_ACTL_CNT, 0) AS SUM_BP_ACTL_CNT
			, NVL(D.WEEK_BP_PLAN_CNT, 0) AS WEEK_BP_PLAN_CNT
			, NVL(D.WEEK_BP_ACTL_CNT, 0) AS WEEK_BP_ACTL_CNT
			, NVL(D.TOT_PR_PLAN_CNT, 0) AS TOT_PR_PLAN_CNT
			, NVL(D.TOT_PR_ACTL_CNT, 0) AS TOT_PR_ACTL_CNT
			, NVL(D.SUM_PR_PLAN_CNT, 0) AS SUM_PR_PLAN_CNT
			, NVL(D.SUM_PR_ACTL_CNT, 0) AS SUM_PR_ACTL_CNT
			, NVL(D.WEEK_PR_PLAN_CNT, 0) AS WEEK_PR_PLAN_CNT
			, NVL(D.WEEK_PR_ACTL_CNT, 0) AS WEEK_PR_ACTL_CNT
			, NVL(D.TOT_RT_PLAN_CNT, 0) AS TOT_RT_PLAN_CNT
			, NVL(D.TOT_RT_ACTL_CNT, 0) AS TOT_RT_ACTL_CNT
			, NVL(D.SUM_RT_PLAN_CNT, 0) AS SUM_RT_PLAN_CNT
			, NVL(D.SUM_RT_ACTL_CNT, 0) AS SUM_RT_ACTL_CNT
			, NVL(D.WEEK_RT_PLAN_CNT, 0) AS WEEK_RT_PLAN_CNT
			, NVL(D.WEEK_RT_ACTL_CNT, 0) AS WEEK_RT_ACTL_CNT

		FROM
			  PJ_BIZ A
			, PJ_PROJECT B   
			, PJ_PROJECT C
			, (
			  SELECT
				  A.PJT_ID
				, A.BIZ_ID
				, (
					NVL(SUM(A.TOT_SC_PLAN_CNT) ,0) +
					NVL(SUM(A.TOT_IF_PLAN_CNT) ,0) +
					NVL(SUM(A.TOT_BP_PLAN_CNT) ,0) +
					NVL(SUM(A.TOT_PR_PLAN_CNT) ,0) +
					NVL(SUM(A.TOT_RT_PLAN_CNT) ,0)
				  ) AS TOT_ALL_PLAN_CNT
				, (
					NVL(SUM(A.TOT_SC_ACTL_CNT) ,0) +
					NVL(SUM(A.TOT_IF_ACTL_CNT) ,0) +
					NVL(SUM(A.TOT_BP_ACTL_CNT) ,0) +
					NVL(SUM(A.TOT_PR_ACTL_CNT) ,0) +
					NVL(SUM(A.TOT_RT_ACTL_CNT) ,0)
				  ) AS TOT_ALL_ACTL_CNT
				, (
					NVL(SUM(A.SUM_SC_PLAN_CNT) ,0) +
					NVL(SUM(A.SUM_IF_PLAN_CNT) ,0) +
					NVL(SUM(A.SUM_BP_PLAN_CNT) ,0) +
					NVL(SUM(A.SUM_PR_PLAN_CNT) ,0) +
					NVL(SUM(A.SUM_RT_PLAN_CNT) ,0)
				  ) AS SUM_ALL_PLAN_CNT
				, (
					NVL(SUM(A.SUM_SC_ACTL_CNT) ,0) +
					NVL(SUM(A.SUM_IF_ACTL_CNT) ,0) +
					NVL(SUM(A.SUM_BP_ACTL_CNT) ,0) +
					NVL(SUM(A.SUM_PR_ACTL_CNT) ,0) +
					NVL(SUM(A.SUM_RT_ACTL_CNT) ,0)
				  ) AS SUM_ALL_ACTL_CNT
				, (
					NVL(SUM(A.WEEK_SC_PLAN_CNT) ,0) +
					NVL(SUM(A.WEEK_IF_PLAN_CNT) ,0) +
					NVL(SUM(A.WEEK_BP_PLAN_CNT) ,0) +
					NVL(SUM(A.WEEK_PR_PLAN_CNT) ,0) +
					NVL(SUM(A.WEEK_RT_PLAN_CNT) ,0)
				  ) AS WEEK_ALL_PLAN_CNT
				, (
					NVL(SUM(A.WEEK_SC_ACTL_CNT) ,0) +
					NVL(SUM(A.WEEK_IF_ACTL_CNT) ,0) +
					NVL(SUM(A.WEEK_BP_ACTL_CNT) ,0) +
					NVL(SUM(A.WEEK_PR_ACTL_CNT) ,0) +
					NVL(SUM(A.WEEK_RT_ACTL_CNT) ,0)
				  ) AS WEEK_ALL_ACTL_CNT
				, SUM(A.TOT_SC_PLAN_CNT) AS TOT_SC_PLAN_CNT
				, SUM(A.TOT_SC_ACTL_CNT) AS TOT_SC_ACTL_CNT
				, SUM(A.SUM_SC_PLAN_CNT) AS SUM_SC_PLAN_CNT
				, SUM(A.SUM_SC_ACTL_CNT) AS SUM_SC_ACTL_CNT
				, SUM(A.WEEK_SC_PLAN_CNT) AS WEEK_SC_PLAN_CNT
				, SUM(A.WEEK_SC_ACTL_CNT) AS WEEK_SC_ACTL_CNT
				, SUM(A.TOT_IF_PLAN_CNT) AS TOT_IF_PLAN_CNT
				, SUM(A.TOT_IF_ACTL_CNT) AS TOT_IF_ACTL_CNT
				, SUM(A.SUM_IF_PLAN_CNT) AS SUM_IF_PLAN_CNT
				, SUM(A.SUM_IF_ACTL_CNT) AS SUM_IF_ACTL_CNT
				, SUM(A.WEEK_IF_PLAN_CNT) AS WEEK_IF_PLAN_CNT
				, SUM(A.WEEK_IF_ACTL_CNT) AS WEEK_IF_ACTL_CNT
				, SUM(A.TOT_BP_PLAN_CNT) AS TOT_BP_PLAN_CNT
				, SUM(A.TOT_BP_ACTL_CNT) AS TOT_BP_ACTL_CNT
				, SUM(A.SUM_BP_PLAN_CNT) AS SUM_BP_PLAN_CNT
				, SUM(A.SUM_BP_ACTL_CNT) AS SUM_BP_ACTL_CNT
				, SUM(A.WEEK_BP_PLAN_CNT) AS WEEK_BP_PLAN_CNT
				, SUM(A.WEEK_BP_ACTL_CNT) AS WEEK_BP_ACTL_CNT
				, SUM(A.TOT_PR_PLAN_CNT) AS TOT_PR_PLAN_CNT
				, SUM(A.TOT_PR_ACTL_CNT) AS TOT_PR_ACTL_CNT
				, SUM(A.SUM_PR_PLAN_CNT) AS SUM_PR_PLAN_CNT
				, SUM(A.SUM_PR_ACTL_CNT) AS SUM_PR_ACTL_CNT
				, SUM(A.WEEK_PR_PLAN_CNT) AS WEEK_PR_PLAN_CNT
				, SUM(A.WEEK_PR_ACTL_CNT) AS WEEK_PR_ACTL_CNT
				, SUM(A.TOT_RT_PLAN_CNT) AS TOT_RT_PLAN_CNT
				, SUM(A.TOT_RT_ACTL_CNT) AS TOT_RT_ACTL_CNT
				, SUM(A.SUM_RT_PLAN_CNT) AS SUM_RT_PLAN_CNT
				, SUM(A.SUM_RT_ACTL_CNT) AS SUM_RT_ACTL_CNT
				, SUM(A.WEEK_RT_PLAN_CNT) AS WEEK_RT_PLAN_CNT
				, SUM(A.WEEK_RT_ACTL_CNT) AS WEEK_RT_ACTL_CNT
			  FROM
				(
                SELECT
					  /* 화면 전체 계획 */
					  A.PJT_ID
					, A.BIZ_ID
					, COUNT(1) AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT
				FROM
					PJ_SCREEN A

				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}

				GROUP BY
					A.PJT_ID, A.BIZ_ID

				UNION ALL

                SELECT
					  /* 화면 전체 실적 */
					  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, COUNT(1) AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_SCREEN A

				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}
				AND A.ACTL_EDATE IS NOT NULL

				GROUP BY
					A.PJT_ID, A.BIZ_ID

				UNION ALL

                SELECT
					  /* 화면 누적 계획 */
					  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, COUNT(1) AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT
	
				FROM
					PJ_SCREEN A
	
				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}
				AND A.PLAN_EDATE <![CDATA[<=]]> #{BDATE}

				GROUP BY
					A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT
					  /* 화면 누적 실적 */
					  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, COUNT(1) AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_SCREEN A

				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}
				AND A.ACTL_EDATE <![CDATA[<=]]> #{BDATE}

				GROUP BY
					A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT
					  /* 화면 주간 계획 */
					  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, COUNT(1) AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_SCREEN A

				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}
				AND A.ACTL_EDATE <![CDATA[<=]]> #{BDATE}
				AND A.PLAN_EDATE BETWEEN (SELECT /* 일요일 계산 */TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD') + (1 - TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD'),'D')), 'YYYYMMDD') FROM DUAL) AND #{BDATE}

				GROUP BY
					A.PJT_ID, A.BIZ_ID

				UNION ALL

                SELECT
					  /* 화면 주간 실적 */
					  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, COUNT(1) AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_SCREEN A

				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}
				AND A.ACTL_EDATE BETWEEN (SELECT /* 일요일 계산 */TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD') + (1 - TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD'),'D')), 'YYYYMMDD') FROM DUAL) AND #{BDATE}

				GROUP BY
					A.PJT_ID, A.BIZ_ID

				UNION ALL

                SELECT
					  /* INTERFACE 전체 계획 */
					  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, COUNT(1) AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_INTERFACE A

				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}
				
				GROUP BY A.PJT_ID, A.BIZ_ID
				
				UNION ALL

                SELECT
					  /* INTERFACE 전체 실적 */
					  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, COUNT(1) AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_INTERFACE A

				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}
				AND A.ACTL_EDATE IS NOT NULL

				GROUP BY
					A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT
					  /* INTERFACE 누적 계획 */
					  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, COUNT(1) AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_INTERFACE A

				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}
				AND A.PLAN_EDATE <![CDATA[<=]]> #{BDATE}

				GROUP BY
					A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT
                	  /* INTERFACE 누적 실적 */
                	  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, COUNT(1) AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_INTERFACE A

				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}
				AND A.ACTL_EDATE <![CDATA[<=]]> #{BDATE}

				GROUP BY
					A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT
                	  /* INTERFACE 주간 계획 */
                	  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, COUNT(1) AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_INTERFACE A

				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}
				AND A.PLAN_EDATE BETWEEN (SELECT /* 일요일 계산 */TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD') + (1 - TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD'),'D')), 'YYYYMMDD') FROM DUAL) AND #{BDATE}

				GROUP BY
					A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT
					  /* INTERFACE 주간 실적 */
					  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, COUNT(1) AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_INTERFACE A

				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}
				AND A.ACTL_EDATE BETWEEN (SELECT /* 일요일 계산 */TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD') + (1 - TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD'),'D')), 'YYYYMMDD') FROM DUAL) AND #{BDATE}

				GROUP BY
					A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT
                	  /* 배치프로그램 전체 계획 */
                	  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, COUNT(1) AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_BATCHPRG A

				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}

				GROUP BY
					A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT /* 배치프로그램 전체 실적 */
                       A.PJT_ID
                     , A.BIZ_ID
                     , NULL AS TOT_SC_PLAN_CNT
                     , NULL AS TOT_SC_ACTL_CNT
                     , NULL AS SUM_SC_PLAN_CNT
                     , NULL AS SUM_SC_ACTL_CNT
                     , NULL AS WEEK_SC_PLAN_CNT
                     , NULL AS WEEK_SC_ACTL_CNT
                     , NULL AS TOT_IF_PLAN_CNT
                     , NULL AS TOT_IF_ACTL_CNT
                     , NULL AS SUM_IF_PLAN_CNT
                     , NULL AS SUM_IF_ACTL_CNT
                     , NULL AS WEEK_IF_PLAN_CNT
                     , NULL AS WEEK_IF_ACTL_CNT
                     , NULL AS TOT_BP_PLAN_CNT
                     , COUNT(1) AS TOT_BP_ACTL_CNT
                     , NULL AS SUM_BP_PLAN_CNT
                     , NULL AS SUM_BP_ACTL_CNT
                     , NULL AS WEEK_BP_PLAN_CNT
                     , NULL AS WEEK_BP_ACTL_CNT
                     , NULL AS TOT_PR_PLAN_CNT
                     , NULL AS TOT_PR_ACTL_CNT
                     , NULL AS SUM_PR_PLAN_CNT
                     , NULL AS SUM_PR_ACTL_CNT
                     , NULL AS WEEK_PR_PLAN_CNT
                     , NULL AS WEEK_PR_ACTL_CNT
                     , NULL AS TOT_RT_PLAN_CNT
                     , NULL AS TOT_RT_ACTL_CNT
                     , NULL AS SUM_RT_PLAN_CNT
                     , NULL AS SUM_RT_ACTL_CNT
                     , NULL AS WEEK_RT_PLAN_CNT
                     , NULL AS WEEK_RT_ACTL_CNT

                FROM
                	PJ_BATCHPRG A

                WHERE 1 = 1
                AND A.PJT_ID = #{SUB_PJT_ID}
				AND A.ACTL_EDATE IS NOT NULL

				GROUP BY A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT /* 배치프로그램 누적 계획 */
                       A.PJT_ID
                     , A.BIZ_ID
                     , NULL AS TOT_SC_PLAN_CNT
                     , NULL AS TOT_SC_ACTL_CNT
                     , NULL AS SUM_SC_PLAN_CNT
                     , NULL AS SUM_SC_ACTL_CNT
                     , NULL AS WEEK_SC_PLAN_CNT
                     , NULL AS WEEK_SC_ACTL_CNT
                     , NULL AS TOT_IF_PLAN_CNT
                     , NULL AS TOT_IF_ACTL_CNT
                     , NULL AS SUM_IF_PLAN_CNT
                     , NULL AS SUM_IF_ACTL_CNT
                     , NULL AS WEEK_IF_PLAN_CNT
                     , NULL AS WEEK_IF_ACTL_CNT
                     , NULL AS TOT_BP_PLAN_CNT
                     , NULL AS TOT_BP_ACTL_CNT
                     , COUNT(1) AS SUM_BP_PLAN_CNT
                     , NULL AS SUM_BP_ACTL_CNT
                     , NULL AS WEEK_BP_PLAN_CNT
                     , NULL AS WEEK_BP_ACTL_CNT
                     , NULL AS TOT_PR_PLAN_CNT
                     , NULL AS TOT_PR_ACTL_CNT
                     , NULL AS SUM_PR_PLAN_CNT
                     , NULL AS SUM_PR_ACTL_CNT
                     , NULL AS WEEK_PR_PLAN_CNT
                     , NULL AS WEEK_PR_ACTL_CNT
                     , NULL AS TOT_RT_PLAN_CNT
                     , NULL AS TOT_RT_ACTL_CNT
                     , NULL AS SUM_RT_PLAN_CNT
                     , NULL AS SUM_RT_ACTL_CNT
                     , NULL AS WEEK_RT_PLAN_CNT
                     , NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_BATCHPRG A

                WHERE 1 = 1
                AND A.PJT_ID = #{SUB_PJT_ID}
				AND A.PLAN_EDATE <![CDATA[<=]]> #{BDATE}

                GROUP BY A.PJT_ID, A.BIZ_ID

				UNION ALL

                SELECT
					  /* 배치프로그램 누적 실적 */
					  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, COUNT(1) AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_BATCHPRG A
	
				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}
				AND A.ACTL_EDATE <![CDATA[<=]]> #{BDATE}

				GROUP BY
					A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT
					  /* 배치프로그램 주간 계획 */
					  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, COUNT(1) AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_BATCHPRG A

				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}
				AND A.PLAN_EDATE BETWEEN (SELECT /* 일요일 계산 */TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD') + (1 - TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD'),'D')), 'YYYYMMDD') FROM DUAL) AND #{BDATE}

				GROUP BY A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT
                	  /* 배치프로그램 주간 실적 */
                      A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, COUNT(1) AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_BATCHPRG A

				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}
				AND A.ACTL_EDATE BETWEEN (SELECT /* 일요일 계산 */TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD') + (1 - TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD'),'D')), 'YYYYMMDD') FROM DUAL) AND #{BDATE}

				GROUP BY A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT
					  /* 프로그램 전체 계획 */
					  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, COUNT(1) AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT
	
				FROM 
					PJ_PROGRAM A

				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}
				
				GROUP BY A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT
                	  /* 프로그램 전체 실적 */
                	  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, COUNT(1) AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_PROGRAM A

				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}
				AND A.ACTL_EDATE IS NOT NULL

				GROUP BY A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT
                	  /* 프로그램 누적 계획 */
                	  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, COUNT(1) AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_PROGRAM A

				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}
				AND A.PLAN_EDATE <![CDATA[<=]]> #{BDATE}

				GROUP BY A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT
                	  /* 프로그램 누적 실적 */
                	  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, COUNT(1) AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_PROGRAM A
	
				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}
				AND A.ACTL_EDATE <![CDATA[<=]]> #{BDATE}

				GROUP BY A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT
					  /* 프로그램 주간 계획 */
					  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, COUNT(1) AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_PROGRAM A

				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}
				AND A.PLAN_EDATE BETWEEN (SELECT /* 일요일 계산 */TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD') + (1 - TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD'),'D')), 'YYYYMMDD') FROM DUAL) AND #{BDATE}
				
				GROUP BY A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT
					  /* 프로그램 주간 실적 */
					  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, COUNT(1) AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_PROGRAM A

				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}
				AND A.ACTL_EDATE BETWEEN (SELECT /* 일요일 계산 */TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD') + (1 - TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD'),'D')), 'YYYYMMDD') FROM DUAL) AND #{BDATE}

				GROUP BY A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT
                	  /* 보고서 전체 계획 */
                	  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, COUNT(1) AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_RPTPRG A
	
				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}

				GROUP BY A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT
					  /* 보고서 전체 실적 */
					  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, COUNT(1) AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_RPTPRG A

				WHERE 1 = 1
				AND A.PJT_ID = #{SUB_PJT_ID}
				AND A.ACTL_EDATE IS NOT NULL

				GROUP BY A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT
                	  /* 보고서 누적 계획 */
                	  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, COUNT(1) AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_RPTPRG A

				WHERE 1 = 1
				AND A.PJT_ID	= #{SUB_PJT_ID}
				AND A.PLAN_EDATE <![CDATA[<=]]> #{BDATE}

				GROUP BY A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT
                	  /* 보고서 누적 실적 */
                	  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, COUNT(1) AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_RPTPRG A

				WHERE 1 = 1
				AND A.PJT_ID	= #{SUB_PJT_ID}
				AND A.ACTL_EDATE <![CDATA[<=]]> #{BDATE}

				GROUP BY A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT
					  /* 보고서 주간 계획 */
					  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, COUNT(1) AS WEEK_RT_PLAN_CNT
					, NULL AS WEEK_RT_ACTL_CNT

				FROM
					PJ_RPTPRG A
	
				WHERE 1 = 1
				AND A.PJT_ID	= #{SUB_PJT_ID}
				AND A.PLAN_EDATE BETWEEN (SELECT /* 일요일 계산 */TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD') + (1 - TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD'),'D')), 'YYYYMMDD') FROM DUAL) AND #{BDATE}

				GROUP BY A.PJT_ID, A.BIZ_ID

                UNION ALL

                SELECT
					  /* 보고서 주간 실적 */
					  A.PJT_ID
					, A.BIZ_ID
					, NULL AS TOT_SC_PLAN_CNT
					, NULL AS TOT_SC_ACTL_CNT
					, NULL AS SUM_SC_PLAN_CNT
					, NULL AS SUM_SC_ACTL_CNT
					, NULL AS WEEK_SC_PLAN_CNT
					, NULL AS WEEK_SC_ACTL_CNT
					, NULL AS TOT_IF_PLAN_CNT
					, NULL AS TOT_IF_ACTL_CNT
					, NULL AS SUM_IF_PLAN_CNT
					, NULL AS SUM_IF_ACTL_CNT
					, NULL AS WEEK_IF_PLAN_CNT
					, NULL AS WEEK_IF_ACTL_CNT
					, NULL AS TOT_BP_PLAN_CNT
					, NULL AS TOT_BP_ACTL_CNT
					, NULL AS SUM_BP_PLAN_CNT
					, NULL AS SUM_BP_ACTL_CNT
					, NULL AS WEEK_BP_PLAN_CNT
					, NULL AS WEEK_BP_ACTL_CNT
					, NULL AS TOT_PR_PLAN_CNT
					, NULL AS TOT_PR_ACTL_CNT
					, NULL AS SUM_PR_PLAN_CNT
					, NULL AS SUM_PR_ACTL_CNT
					, NULL AS WEEK_PR_PLAN_CNT
					, NULL AS WEEK_PR_ACTL_CNT
					, NULL AS TOT_RT_PLAN_CNT
					, NULL AS TOT_RT_ACTL_CNT
					, NULL AS SUM_RT_PLAN_CNT
					, NULL AS SUM_RT_ACTL_CNT
					, NULL AS WEEK_RT_PLAN_CNT
					, COUNT(1) AS WEEK_RT_ACTL_CNT

				FROM
					PJ_RPTPRG A

				WHERE 1 = 1
				AND A.PJT_ID	= #{SUB_PJT_ID}
				AND A.ACTL_EDATE BETWEEN (SELECT /* 일요일 계산 */TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD') + (1 - TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD'),'D')), 'YYYYMMDD') FROM DUAL) AND #{BDATE}
				
				GROUP BY
					A.PJT_ID, A.BIZ_ID
			  ) A

			GROUP BY A.PJT_ID, A.BIZ_ID
			) D

		WHERE 1 = 1
		AND A.PJT_ID    = B.PJT_ID
		AND B.PARENT_ID = C.PJT_ID
		AND A.PJT_ID    = D.PJT_ID(+)
		AND A.BIZ_ID    = D.BIZ_ID(+)
		AND A.PJT_ID    = #{SUB_PJT_ID}
		AND A.USE_YN	= 'Y'
		
		ORDER BY
			A.ORD_NUM
	</select>

</mapper>