<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.base.pj.dao.PJ5300PDAO">

	<select id="select01" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			  A.UTDFT_ID
			, A.UTEST_ID
			, A.PJT_ID
			, A.BIZ_ID
			, D.BIZ_NAME
			, A.UTDFT_NO
			, A.UTDFT_NAME
			, E.UTEST_NO
			, E.UTEST_NAME
			, A.UTDFT_TYPE_CD
			, A.UTDFT_DESC
			, A.UTDFT_RCV_CD
			, A.UTDFT_ACT_CD
			, A.DFT_USER_ID
			, A.DFT_USER_NM
			, A.DFT_USER_DEPT
			, A.DFT_REG_DATE
			, A.ACT_USER_ID
			, A.ACT_USER_NM
			, A.ACT_USER_DEPT
			, A.ACT_PDATE
			, A.ACT_ADATE
			, A.ACT_DESC
			, A.CONF_USER_ID
			, A.CONF_USER_NM
			, A.CONF_USER_DEPT
			, A.CONF_DATE
			, A.UTDFT_RCV_DESC
			, A.REMARK
			, A.REG_STIME
			, A.REG_USER_ID
			, A.REG_USER_NM
			, A.REG_USER_DEPT
			, A.SYSMODTIME
			, A.LMOD_USER_ID
			, A.LMOD_USER_NM
			, A.LMOD_USER_DEPT
			, B.PJT_NAME AS PJT_NAME
			, C.PJT_ID   AS P_PJT_ID 
			, C.PJT_NAME AS P_PJT_NAME

		FROM
			  PJ_UT_DEFECT A   
			, PJ_PROJECT B   
			, PJ_PROJECT C
			, PJ_BIZ D
			, PJ_UNIT_TEST E

		WHERE 1 = 1
		AND A.PJT_ID        = B.PJT_ID
		AND B.PARENT_ID     = C.PJT_ID
		AND A.PJT_ID        = D.PJT_ID
		AND A.BIZ_ID        = D.BIZ_ID
		AND A.PJT_ID        = E.PJT_ID(+)
		AND A.UTEST_ID      = E.UTEST_ID(+)
		AND A.PJT_ID		= #{PJT_ID}
		AND A.BIZ_ID		= #{BIZ_ID}
		AND A.UTDFT_RCV_CD  = 'DFT_REV_STS_CD01' /* 접수유형 - 수용 */
		AND A.UTDFT_ACT_CD != 'DFT_PRC_STS_CD03' /* 결함처리결과 - 확인완료 */
		
		<choose>
			<when test='"SUM".equals(MODE)'>
		AND A.ACT_PDATE <![CDATA[<=]]> #{BDATE}
        AND (
			A.CONF_DATE IS NULL OR
			A.CONF_DATE > #{BDATE}
            )
			</when>
			<when test='"WEEK".equals(MODE)'>
		AND A.ACT_PDATE BETWEEN (SELECT /* 일요일 계산 */TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD') + (1 - TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD'),'D')), 'YYYYMMDD') FROM DUAL) AND #{BDATE}
        AND (
			A.CONF_DATE IS NULL OR
			A.CONF_DATE NOT BETWEEN (SELECT /* 일요일 계산 */TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD') + (1 - TO_CHAR(TO_DATE(#{BDATE},'YYYYMMDD'),'D')), 'YYYYMMDD') FROM DUAL) AND #{BDATE}
             )
			</when>
		</choose>

		ORDER BY
			A.UTDFT_NO, A.UTDFT_ID
	</select>

</mapper>