<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.base.fomm.dao.FOMM0130WDAO">
	    
    <!-- SPP 권한그룹별 메뉴권한 조회 -->
    <select id="select02" parameterType="java.util.Map" resultType="java.util.Map">
    	/* FOMM0130WMapper >> select02 */
    	SELECT    0 AS CHK		    /* CHECKBOX 컬럼 */
			    , '' AS ROWFLAG		/* 행상태 표기를 위한 컬럼 */
		        , A.AUTH_ID			/* 권한그룹ID */
		        , B.MENU_ID			/* 메뉴 ID */
		        , B.UP_MENU_ID		/* 상위 메뉴 ID */
		        , B.SVC_TYPE_CD		/* SPP 업무구분 */
		        , B.MENU_NM			/* 메뉴명 */
		        , B.MENU_LVL		/* 메뉴 레벨 */
		        , B.MENU_URL		/* 메뉴 URL */
		        , B.SORT_ORDR		/* 정렬순서 */
		        , DECODE(A.READ_YN, 		'Y', '1', '0') AS READ_YN			/* 접근권한 */
		        , DECODE(A.WRITE_YN, 		'Y', '1', '0') AS WRITE_YN			/* 쓰기권한 */
		        , DECODE(A.DELETE_YN, 		'Y', '1', '0') AS DELETE_YN			/* 삭제권한 */
		        , DECODE(A.EXCL_DOWN_YN, 	'Y', '1', '0') AS EXCL_DOWN_YN		/* 엑셀다운 권한 */
		        , DECODE(A.REPORT_PRNT_YN, 	'Y', '1', '0') AS REPORT_PRNT_YN	/* 레포트출력 권한 */
		        , DECODE(A.FILE_UP_YN,		'Y', '1', '0') AS FILE_UP_YN		/* 파일첨부 권한 */
		        
		        , REGEXP_SUBSTR(SYS_CONNECT_BY_PATH(B.MENU_NM, '|'), '[^|]+', 1, 1) AS MENU_LV1_NM		/* 레벨1 메뉴명 */
		        , REGEXP_SUBSTR(SYS_CONNECT_BY_PATH(B.MENU_NM, '|'), '[^|]+', 1, 2) AS MENU_LV2_NM		/* 레벨2 메뉴명 */
		        , REGEXP_SUBSTR(SYS_CONNECT_BY_PATH(B.MENU_NM, '|'), '[^|]+', 1, 3) AS MENU_LV3_NM		/* 레벨3 메뉴명 */
		        
		FROM      (
		            SELECT    *
		            FROM      FOMM_AUTH_MENU_DT
		            WHERE     AUTH_ID = #{SEL_AUTH_ID}
		          ) A
		        , FOMM_MENU_MT B
		WHERE     1=1
		AND       A.MENU_ID(+) = B.MENU_ID
		AND       B.USE_YN = 'Y'
		
		CONNECT BY PRIOR B.MENU_ID = B.UP_MENU_ID
		<choose>
			<when test="TOP_MENU_ID != null and TOP_MENU_ID != ''">
				START WITH B.MENU_ID = #{TOP_MENU_ID}
			</when>
			<when test="SVC_TYPE_CD != null and SVC_TYPE_CD != ''">
				START WITH B.MENU_ID = (SELECT MENU_ID FROM FOMM_MENU_MT WHERE SVC_TYPE_CD = #{SVC_TYPE_CD})
			</when>
			<otherwise>
				START WITH B.MENU_ID = '0'
			</otherwise>
		</choose>
		
		ORDER SIBLINGS BY B.SORT_ORDR ASC
    </select>
    
    
    <!-- SPP 권한그룹 추가 -->
    <insert id="insert01" parameterType="java.util.Map">
		/* FOMM0130WMapper >> insert01 */
		MERGE 
		INTO	FOMM_AUTH_MENU_DT A
		USING 	DUAL
		ON		(A.AUTH_ID = #{AUTH_ID} AND A.MENU_ID = #{MENU_ID})
		
		WHEN MATCHED THEN
			UPDATE	
			SET		READ_YN			= DECODE(#{READ_YN},		'1', 'Y', 'N')
				  , WRITE_YN		= DECODE(#{WRITE_YN},		'1', 'Y', 'N')
				  , DELETE_YN		= DECODE(#{DELETE_YN},		'1', 'Y', 'N')
				  , EXCL_DOWN_YN	= DECODE(#{EXCL_DOWN_YN},	'1', 'Y', 'N')
				  , REPORT_PRNT_YN	= DECODE(#{REPORT_PRNT_YN},	'1', 'Y', 'N')
				  , FILE_UP_YN		= DECODE(#{FILE_UP_YN},		'1', 'Y', 'N')
				  , LMID			= #{LMID}
				  , LMDT			= TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
				  , LMPID			= #{LMPID}
				  
		WHEN NOT MATCHED THEN
			INSERT 
			(
				  AUTH_ID
				, MENU_ID
				
				, READ_YN
				, WRITE_YN
				, DELETE_YN
				, EXCL_DOWN_YN
				, REPORT_PRNT_YN
				, FILE_UP_YN
				
				, FRID
				, FRDT
				, LMID
				, LMDT
				, LMPID
			)
			VALUES
			(
				  #{AUTH_ID}
		        , #{MENU_ID}
	
		        , DECODE(#{READ_YN},		'1', 'Y', 'N')
		        , DECODE(#{WRITE_YN},		'1', 'Y', 'N')
		        , DECODE(#{DELETE_YN},		'1', 'Y', 'N')
		        , DECODE(#{EXCL_DOWN_YN},	'1', 'Y', 'N')
		        , DECODE(#{REPORT_PRNT_YN},	'1', 'Y', 'N')
		        , DECODE(#{FILE_UP_YN},		'1', 'Y', 'N')
				
				, #{LMID}
				, TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
				, #{LMID}
				, TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
				, #{LMPID}
			)
    </insert>
        
    <!-- SPP 권한그룹 삭제 (사용여부N처리) -->
    <update id="remove01" parameterType="java.util.Map">
    	/* FOMM0130WMapper >> remove01 */
        UPDATE	FOMM_AUTH_MT
        SET		USE_YN		= 'N'
			  , LMID		= #{LMID}
			  , LMDT		= TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
			  , LMPID		= #{LMPID}
		WHERE	AUTH_ID = #{AUTH_ID}
    </update>
    
    
</mapper>